:root { 
--red_600:#da3e33; 
--green_A700_01:#12b669; 
--deep_purple_400:#845ebc; 
--indigo_A100:#817af3; 
--blue_A200:#448df2; 
--black_900_3f:#0000003f; 
--green_500:#46a36c; 
--blue_gray_500_01:#667085; 
--gray_900_0c:#1018280c; 
--green_A700:#10a760; 
--yellow_800:#e19133; 
--deep_orange_300:#dba362; 
--blue_gray_700:#48505e; 
--blue_900_01:#123caa; 
--blue_gray_900:#2b2f38; 
--yellow_800_01:#e19033; 
--gray_600:#777777; 
--blue_900:#0f50aa; 
--blue_gray_100:#cfd4dc; 
--blue_gray_100_75:#d0d3d975; 
--blue_700:#1366d9; 
--gray_800:#444444; 
--blue_gray_500:#667084; 
--orange_600:#f79009; 
--gray_200:#eeeeee; 
--blue_50:#e5f6fd; 
--deep_purple_50:#eceaff; 
--blue_300:#629ff4; 
--blue_100:#b6d3fa; 
--white_A700:#ffffff; 
--gray_700_01:#555555; 
--blue_gray_50:#f0f1f3; 
--light_blue_200:#79d0f1; 
--blue_gray_100_01:#d0d3d9; 
--red_900:#aa3028; 
--blue_A100:#74b0fa; 
--red_300:#f36960; 
--red_500:#f04437; 
--green_400:#58d365; 
--red_50:#feeceb; 
--blue_gray_800:#383e49; 
--green_400_02:#57da65; 
--green_400_01:#51cc5d; 
--gray_700:#666666; 
--blue_gray_50_87:#f0f1f387; 
--gray_500:#9d9d9d; 
--blue_gray_400:#858d9d; 
--blue_gray_600:#5d6679; 
--gray_900:#0f1728; 
--blue_600:#156fee; 
--gray_900_01:#101828; 
--light_blue_50:#e5f7fd; 
--orange_50:#ffeedb; 
}